<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.BoardMapper">
	<resultMap type='PostVO' id='boardList'>
		<result column="id" property="memberVO.id"/>
		
	</resultMap>



	<!-- 1. 게시물 조회 -->
	<select id="getPostList" resultType="PostVO"   resultMap='boardList'>
	 select id,board_no,title,time_posted,content from tbl_board
	</select>
<!-- 등록 -->
 <insert id="registerPost"  parameterType="PostVO">
   insert into tbl_board(board_no, title, time_posted, content, id,img)
      values(tbl_board_seq.nextval,#{title} ,sysdate,#{content}, #{memberVO.id},#{img})
  </insert> 
  
  <select id="getDetailPostByNo" resultType="PostVO">
  select *
  from tbl_board
  where board_no =#{board_no}
  
  </select>
  
  <delete id="deletePosting" parameterType="int"  >
   delete from tbl_board
   where board_no =#{board_no}
  
  </delete>
  

</mapper>










