<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.model.mapper.ShopMapper">
<select id="list" resultType="goodsVO">
 select g.gdsNum, g.gdsName, g.middlecateCode
 ,g.gdsStock
, g.gdsDes
, g.gdsImg
, g.gdsDate
, g.gdsImg
, g.gdsThumbImg
, m.middlecateName
, c.cateCode
, c.cateName
 from tbl_goods g inner join  middle_category m on g.middlecateCode =m.middlecateCode
 inner join  goods_category c on m.cateCode =c.cateCode
 where g.middlecateCode =#{middlecateCode}
</select>

<select id="categorylist" resultType="goodsVO">
  select g.gdsNum, g.gdsName, g.middlecateCode
 ,g.gdsStock
, g.gdsDes
, g.gdsImg
,g.gdsPrice
, g.gdsDate
, g.gdsImg
, g.gdsThumbImg
, m.middlecateName
, c.cateCode
, c.cateName
 from tbl_goods g inner join  middle_category m on g.middlecateCode =m.middlecateCode
 inner join  goods_category c on m.cateCode =c.cateCode
 where c.cateCode  =#{cateCode}
</select> 




<select id="categorylist2" resultType="goodsVO">
  select g.gdsNum, g.gdsName, g.middlecateCode
 ,g.gdsStock
, g.gdsDes
, g.gdsImg
, g.gdsDate
, g.gdsImg
, g.gdsPrice
, g.gdsThumbImg
, m.middlecateName
, c.cateCode
, c.cateName
 from tbl_goods g inner join  middle_category m on g.middlecateCode =m.middlecateCode
 inner join  goods_category c on m.cateCode =c.cateCode
 where g.middlecateCode =#{middlecateCode}
</select> 	
<select id="view" resultType="goodsVO">
		select
		gdsNum,gdsName,middlecateCode,gdsPrice,gdsStock,gdsDes, gdsImg,
		gdsDate,gdsThumbImg
		from tbl_goods
		where gdsNum=#{gdsNum}
	</select>
	
	<insert id="addCart">
	insert into tbl_cart(cartNum, id, gdsNum, cartStock)
		values(tbl_cart_seq.nextval,#{id},#{gdsNum},#{cartStock})	
	</insert>
	
	<select id="cartList" resultType="CartListVO">
 select
     row_number() over(order by c.cartNum desc) as num,
     c.cartNum, c.id, c.gdsNum, c.cartStock, c.addDate,
     g.gdsName, g.gdsPrice, g.gdsThumbImg
 from tbl_cart c
     inner join tbl_goods g
         on c.gdsNum = g.gdsNum   
     where c.id = #{id}
</select>

<delete id="deleteCart">
delete tbl_cart  
where cartNum = #{cartNum}
  
</delete>
<insert id="orderInfo">
insert into tbl_order(orderId,id,orderRec,addr1,addr2,addr3,orderPhon,amount)
values(#{orderId},#{id},#{orderRec},#{addr1},#{addr2},#{addr3},#{orderPhon},#{amount})
</insert>

<!-- 주문상세 -->
<insert id="orderInfo_Details">
insert into tbl_order_details(orderDetailsNum, orderId, gdsNum, cartStock)
	select tbl_order_details_seq.nextval, #{orderId},  gdsNum, cartStock
		from tbl_cart
		
</insert>

<!-- 카트비우기 -->
	<delete id="cartAllDelete">
	delete tbl_cart
	 where  id=#{id}
	</delete>
	
	<select id="orderList" resultType="OrderVO">
	select 
		 orderId, id, orderRec, addr1, addr2, addr3,orderPhon,amount,orderDate,delivery
	from tbl_order
	 
	</select>	
	
	<!-- 특정 유저의 주문 목록 -->
	<select id="orderCheckList" resultType="OrderVO">
		select 
		 orderId, id, orderRec, addr1, addr2, addr3,orderPhon,amount,orderDate,delivery
	from tbl_order
		 where  id=#{id}
	</select>
	
	
	
<!-- 특정 주문목록 -->	
	<select id="orderView" resultType="OrderListVO">
	 select
     o.orderId, o.id, o.orderRec, o.addr1, o.addr2, o.addr3, o.orderPhon, o.amount, o.orderDate,o.delivery,
     d.orderDetailsNum, d.gdsNum, d.cartStock,
     g.gdsName, g.gdsThumbImg, g.gdsPrice
 from tbl_order o
         inner join tbl_order_details d
             on o.orderId = d.orderId
         inner join tbl_goods g
             on d.gdsNum = g.gdsNum
     where o.id = #{id}
         and o.orderId = #{orderId}
</select>

<update id="delivery">
 update tbl_order
 set delivery = #{delivery}
 where orderId =#{orderId}
</update>
<!-- 댓글 -->
<insert id="registReply">
 insert into tbl_reply (gdsNum, id, repNum, repCon)
     values (#{gdsNum}, #{id}, tbl_reply_seq.nextval, #{repCon})
</insert>

<!-- 상품 소감(댓글) 리스트 -->
<select id="replyList" resultType="ReplyListVO">
 select
     r.gdsNum, r.id, r.repNum, r.repCon, r.repDate, m.name
 from tbl_reply r
     inner join tbl_member m
         on r.id = m.id
     where gdsNum = #{gdsNum}
</select>

<!-- 댓글 삭제 -->
<delete id="deleteReply">
	delete tbl_reply
	where repNum =#{repNum}
	and id=#{id}
</delete>

<delete id="deleteOrder">
<!-- DELETE FROM tbl_order A
 WHERE EXISTS (
        SELECT 1
          FROM tbl_order_details B
         WHERE A.orderId = B.orderId
          
        ) -->
        delete tbl_order
        where orderId =#{orderId}
</delete>


<!-- 아이디 확인 -->
<select id="replyUserIdCheck" resultType="String">
select id
from tbl_reply
	where repNum =#{repNum}
</select>
<select id="findGoods" resultType="goodsVO">
select * from tbl_goods where gdsName=#{value};

</select>
<select id="searchGoods" resultType="goodsVO">
select *
		from tbl_goods
		where gdsName like '%'||#{value}||'%'
</select>
 	
</mapper>










